**Questions 1:**
How to import pandas and check the version?

In [1]:
import pandas as pd
print(pd.__version__)

1.1.4

**Questions 2:**
How to create a series from a numpy array?

In [2]:
import numpy as np
import pandas as pd
nparr = np.array([1,2,3,4,5])
seriesarr= pd.Series(nparr)
seriesarr

0    1
1    2
2    3
3    4
4    5
dtype: int64

**Questions 3:**
How to convert the index of a series into a column of a dataframe?

In [11]:
nparr = np.array([1,2,3,4,5,6,7,8,9])
seriesarr= pd.Series(nparr)
seriesarr
indexes = pd.Series(nparr)
pd.DataFrame(indexes,columns=['Index'])

   Index
0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9

**Questions 4:**
Write the code to list all the datasets available in seaborn library.
Load the 'mpg' dataset

In [13]:
# Listing all the Datasets names in the seaborn library
import seaborn as sb
print (sb.get_dataset_names())

['anagrams', 'anscombe', 'attention', 'brain_networks', 'car_crashes', 'diamonds', 'dots', 'exercise', 'flights', 'fmri', 'gammas', 'geyser', 'iris', 'mpg', 'penguins', 'planets', 'tips', 'titanic']

In [16]:
#Loading the mpg dataset
df = sb.load_dataset('mpg')
print(df)
print(df.head())

      mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
393  27.0          4  ...     usa            ford mustang gl
394  44.0          4  ...  europe                  vw pickup
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[398 rows x 9 columns]
    mpg  cylinders  displacement  ...  model_year  origin                       name
0  18.0          8         307.0  ...          70     usa  chevrolet chevelle malibu
1  15.0          8         350.0  ...          70     usa          buick skylark 320
2  18.0          8         318.0  ...          70     usa         plymouth satellite
3  16.0          8         304.0  ...          70     usa              amc rebel sst
4  17.0          8         302.0  ...          70     usa                ford torino

[5 rows x 9 columns]

**Questions 5:**
Which country origin cars are a part of this dataset?

In [18]:
df['origin'].unique()

array(['usa', 'japan', 'europe'], dtype=object)

**Questions 6:**
Extract the part of the dataframe which contains cars belonging to 'usa'

In [21]:
df[df['origin']=='usa']

      mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
392  27.0          4  ...     usa           chevrolet camaro
393  27.0          4  ...     usa            ford mustang gl
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[249 rows x 9 columns]